{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FreshMart</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header class="navbar">

        <div class="navbar-logo">
            <h1>FreshMart</h1>
           
        </div>

        <nav class="nav-menu">

            <a class="nav-item" href="{% url 'home' %}">
                Home
            </a>

            <a class="nav-item" href="{% url 'products' %}">
                Products
            </a>

            <a class="nav-item" href="{% url 'cart' %}">
                Cart 🛒
            </a>

        </nav>

    </header>

    <main class="container">

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <p>
            &copy; 2026 FreshMart Online Store |
            Fresh Meat & Vegetables
        </p>
    </footer>

</body>

</html>