{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">

    <h2>Our Fresh Products</h2>

    <div class="products">

        <div class="product">
            <img src="{% static 'images/image1.jpg' %}" alt="Fresh Full Chicken">
            <h3>Fresh Full Chicken</h3>
            <p class="price">$7.00</p>
            <p class="description">
                Premium quality fresh full chicken.
            </p>
        </div>


        <div class="product">
            <img src="{% static 'images/image2.jpg' %}" alt="Fresh Beef">
            <h3>Fresh Beef</h3>
            <p class="price">$4.00/kg</p>
            <p class="description">
                Premium quality fresh beef cuts.
            </p>
        </div>


        <div class="product">
            <img src="{% static 'images/image3.jpg' %}" alt="Fresh Fish">
            <h3>Fresh Fish</h3>
            <p class="price">$3.00/kg</p>
            <p class="description">
                Fresh fish.
            </p>
        </div>


        <div class="product">
            <img src="{% static 'images/image4.jpg' %}" alt="Fresh Vegetables">
            <h3>Fresh Vegetables</h3>
            <p class="price">$1.80/kg</p>
            <p class="description">
                Fresh vegetables.
            </p>
        </div>


        <div class="product">
            <img src="{% static 'images/image5.jpg' %}" alt="Fresh Pork">
            <h3>Fresh Pork</h3>
            <p class="price">$4.50/kg</p>
            <p class="description">
                Fresh pork cuts.
            </p>
        </div>


        <div class="product">
            <img src="{% static 'images/image6.jpg' %}" alt="Fresh Cabbage">
            <h3>Fresh Cabbage</h3>
            <p class="price">$1.50</p>
            <p class="description">
                Fresh cabbage.
            </p>
        </div>


        <div class="product">
            <img src="{% static 'images/image7.jpg' %}" alt="Fresh Potatoes">
            <h3>Fresh Potatoes</h3>
            <p class="price">$1.20/kg</p>
            <p class="description">
                Fresh potatoes.
            </p>
        </div>


        <div class="product">
            <img src="{% static 'images/image8.jpg' %}" alt="Fresh Minced Meat">
            <h3>Fresh Minced Meat</h3>
            <p class="price">$2.00/kg</p>
            <p class="description">
                Fresh minced meat.
            </p>
        </div>


        <div class="product">
            <img src="{% static 'images/image9.jpg' %}" alt="Fresh Sausages">
            <h3>Fresh Sausages</h3>
            <p class="price">$2.00/kg</p>
            <p class="description">
                Fresh sausages.
            </p>
        </div>


        <div class="product">
            <img src="{% static 'images/image10.jpg' %}" alt="Fresh Okra">
            <h3>Fresh Okra</h3>
            <p class="price">$1.50/kg</p>
            <p class="description">
                Fresh okra.
            </p>
        </div>

    </div>

</div>

{% endblock %}